/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lobster&family=Manrope:wght@400;700&family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700&family=Roboto:wght@400;500;700&family=Work+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lobster&family=Manrope:wght@400;700&family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700&family=Roboto:wght@400;500;700&family=Work+Sans:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lobster&family=Manrope:wght@400;700&family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700&family=Roboto:wght@400;500;700&family=Work+Sans:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lobster&family=Manrope:wght@400;700&family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700&family=Roboto:wght@400;500;700&family=Work+Sans:wght@400;500;600;700&display=swap');

/* Common styles */
* {
    margin: 0;
}

/* Navigation section styles start */

nav,
.header,
.photo,
.main,
.facts,
.awards,
.sponsor,
footer {
    background-color: #FF900E1A;
    font-family: 'Work Sans', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-title {
    font-size: 45px;
    margin-top: 50px;
    margin-left: 228px;
}

.nav-bar {
    margin-top: 63px;
    margin-right: 240px;
}

.nav-bar ul {
    padding: 0;
}

.nav-bar ul li {
    list-style-type: none;
    display: inline;
    padding-left: 30px;
}

.nav-bar ul li a {
    color: #424242;
    font-size: 18px;
    text-decoration: none;
}

/* Navigation section styles end */

/* Header section style start */

.header-container {
    text-align: center;
}

.header-title {
    font-size: 64px;
    padding: 50px 300px 30px 300px;
}

.header-description {
    font-size: 16px;
    color: #727272;
    padding: 0 300px 33px 300px;
}

.primary-btn {
    border-style: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    padding: 21px 24px 20px 25px;
}

.header-banner {
    padding: 50px 240px 45px 240px;
    max-width: 1440px;
    margin: 0 auto;
}

.header-banner img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* Header section style end */

.photo {
    background: none;
    margin: 85px 301px 130px 301px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.photos img {
    border-radius: 8px;
}

.section-details {
    padding-left: 73px;
}

.section-title {
    width: 468px;
    height: auto;
    padding-bottom: 24px;
}

.section-description {
    width: 537px;
    height: auto;
    color: #727272;
    font-size: 16px;
    padding-bottom: 32px;
}

/* Photos section style end */

.main,
.facts {
    background: none;
    margin: 100px 240px 100px 240px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 146px;
    padding-bottom: 10px;
}

.main .section-title {
    font-size: 45px;
    padding-bottom: 24px;
}

.section-info .section-title {
    padding-left: 24px;
    position: relative;
}

.section-info h3 {
    position: relative;
}

.section-info h3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 106px;
    width: 5px;
    background-color: #FF900E;
}

.main .section-description {
    padding-bottom: 30px;
}

.features {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.feature {
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 30px 42px 30px 30px;
}

.feature-title {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.main .primary-btn {
    font-size: 65px;
    font-weight: 700;
    padding: 45px 42px;
}

#btn {
    font-size: 25px;
    font-weight: 500;
}

/* main section style end */

.facts .section-title {
    font-size: 45px;
}

.facts .section-description {
    font-size: 16px;
}

/* Facts section style end */

.awards {
    background: none;
    margin: 0px 290px 180px 290px;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    margin: 0;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 46px 41px 60px 42px;
}

.item img {
    width: 45px;
    height: 45px;
    padding-bottom: 10px;
}

.item .item-title {
    color: #424242;
    font-size: 45px;
    padding-bottom: 5px;
}

.item .item-description {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}

/* Award section style end */

.sponsor {
    background: none;
    margin: 0px 500px 50px 500px;
}

.sponsor .content {
    text-align: center;
}

.sponsor .section-title {
    font-size: 45px;
    padding-bottom: 24px;
}

.sponsor .section-description {
    font-size: 16px;
}

/* Sponsor section style end */

.sponsor-logo {
    margin: 0 240px 130px 240px;
}

.sponsor-logo .logos {
    display: flex;
    justify-content: space-between;
}

/* Sponsor logo style end */

footer{
    background: #FFF4E7;
    margin: 0 240px 216px 240px;
    border-radius: 8px;
}

footer p{
    text-align: center;
    padding: 39px 200px;
    font-size: 20px;
    color: #424242;
}

/* Footer style end */

/* Responsive part */
@media screen and (max-width: 576px) {
    .nav {
        flex-direction: column;
        gap: 5px;
    }

    .nav-bar {
        margin: 0;
    }

    .website-title {
        font-size: 36px;
        margin: 10px;
    }

    .nav-bar ul li {
        padding: 10px;
        justify-content: space-between;
        align-items: center;
    }

    /* Responsive navigation part end */

    .header-title {
        font-size: 24px;
        padding: 25px 8px 10px 8px;
    }

    .header-description {
        padding: 0 8px 10px 8px;
    }

    .primary-btn {
        font-size: 14px;
        padding: 10px 15px;
    }

    .header-banner {
        padding: 20px 10px 15px 10px;
        max-width: 1440px;
        margin: 0 auto;
    }

    .header-banner img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 8px;
    }

    /* Responsive header part end */

    /* Responsive Photo section start */

    .photo {
        margin: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .photos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .section-details {
        padding: 25px 50px;
    }

    .section-title {
        width: 100%;
        height: auto;
        padding-bottom: 12px;
    }

    .section-description {
        width: 100%;
        height: auto;
        padding-bottom: 16px;
    }

    /* Responsive Photo section end */

    /* Responsive main, facts and sponsor section start */

    .main,
    .facts,
    .sponsor {
        margin: 50px 20px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .main-container img {
        width: 100%;
        height: auto;
        padding-bottom: 50px;
    }

    .main .section-title {
        font-size: 36px;
        padding-bottom: 24px;
    }

    /* Responsive main, facts and sponsor section end */

    /* Responsive award section start */

    .awards {
        margin: 100px 20px 180px 20px;
    }

    .items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    /* Responsive award section end */

    /* Responsive sponsor logo start */

    .sponsor-logo {
        margin: 10px;
    }

    .sponsor-logo .logos {
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    /* Responsive sponsor logo end */

    /* Responsive footer start */

    footer{
        background: #FFF4E7;
        margin: 50px 10px;
    }

    footer p{
        padding: 15px 50px;
        font-size: 18px;
    }
    /* Responsive footer end */

}